node_modules
*.log
.next
node_modules/
app
dist
/renderer/.env
.env
/node_modules
.env.local
/build
.DS_Store
/out
out
/app
out/
/build
.yarn-lock
app/
/app/
build-keys.json
build-keys
entitlements.plist
/build-scripts
build-scripts
build-scripts/
forge.config.js